.header {
    width: 100%; 
    max-width: 1000px;
    padding: 20px 30px; 

    margin: 0 auto; 
    margin-bottom: 135px

    /* border-bottom: 1px solid #444; */

  /*   position: sticky;
    top: 0; */

   /*  background: rgba(0,0,0,0.2) */; /* optional but nice */
   /*  backdrop-filter: blur(10px); */
}

.header__title {
   text-align: center;
   margin: 0;
   }