.main {
background-color: white; 
border-radius: 30px;  
max-width: 1000px;  

max-height: 500px;

position: relative ;
bottom: 20px;

/* This places the main to the right */
flex: 1; 


} 

.main__container {
display: grid; 
grid-template-columns: repeat(5, 1fr);
gap: 20px;
}

.main__title {
text-align: center;
}

.main__box {
    background: #f3f4f6;
    height: 120px;
  
    border: 1px solid #ddd;
    border-radius: 12px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: bold;
}