.main {
background-color: transparent; 
border: 1px solid white;
border-radius: 30px;  
max-width: 1000px;  

max-height: 500px;

position: relative ;
bottom: 20px;

/* This places the main to the right */
flex: 1;  

padding: 0px 30px;


} 

.main__container {
display: grid; 
grid-template-columns: repeat(5, 1fr);
gap: 10px; 

}

.main__title {
text-align: center;
}

.main__box {
    background: transparent;
    /* height: 120px; */
  
    border: 1px solid #ddd;
    border-radius: 12px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: bold;
}